body{
    font-family:sans-serif;
  }
  
  .contenedor--filtro{
    background:white;
    width:300px;
    border:1px solid black;
    margin:20px;
    padding:20px;
    border-radius:10px;
  }
  
  .titulo{
    margin-top:25px;
  }