
<footer class="page-footer font-xsall">

    <div class="container">

        <div class="row white--text">

            <div class="col-md col-xs-12 font margin--between-clases">
                <div>
                    ¿Quienes Somos?
                </div>
                <div style="margin-top: 10%">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore
                </div>
            </div>

            <div class="col-md-6 col-xs-12 font margin--between-clases">
                <div>
                    Categorias
                </div>
                <div class="row" style="margin-top: 3%">
                    <div class="col ">
                        <div>
                            <label>Arte</label>
                        </div>
                        <div>
                            <label>Arquitectura</label>
                        </div>
                        <div>
                            <label>Diseño gráfico</label>
                        </div>
                        <div>
                            <label>Ensayos</label>
                        </div>
                    </div>
                    <div class="col ">
                        <div>
                            <label>Estadística</label>
                        </div>
                        <div>
                            <label>Física</label>
                        </div>
                        <div>
                            <label>Matematicas</label>
                        </div>
                        <div>
                            <label>Programación</label>
                        </div>

                    </div>
                    <div class="col ">
                        <div>
                            <label>Programación de videojuegos</label>
                        </div>
                        <div>
                            <label>Programación movil</label>
                        </div>
                        <div>
                            <label>Programación web</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md col-xs-12 font margin--between-clases">
                <div>
                    Contacto
                </div>
                <div style="margin-top: 10%">
                    <label>Telefono: (57) 3045354522</label>
                </div>
                <div>
                    <label>Correo: unwork@gmail.com</label>
                </div>
            </div>

            <div class="col-md col-xs-12 font margin--between-clases" style="margin-top: 12%">

                <div class="row justify-content-center">
                    <div>
                        <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" alt="facebook" height="32"
                            width="32" class = "mx-2" />
                    </div>
                    <div>
                        <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-youtube-circle-512.png"
                            alt="youtube" height="32" width="32" class = "mx-2"/>
                    </div>
                    <div>
                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png"
                            alt="twitter" height="32" width="32" class = "mx-2" />
                    </div>
                </div>

            </div>

        </div>
    </div>
</footer>