<header>
    <div class="banner">
        <div class="banner--presentacion">
            <p class="banner--titulo">TODO AL ALCANCE DE TUS MANOS</p>
            <p class="banner--descripcion">At vero eos et accusamus et iusto odio dignissimos
                ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                Et harum </p>
        </div>
        <div class="banner--imagen"><img src="http://www.rankgenie.com/images/freelancer.png" alt="" srcset=""></div>
        <input type="text" placeholder="Buscar proyecto" class="banner--busqueda">
        <i class="fas fa-search"></i>
    </div>
</header>