<div class="container">
    <div class="contenedor--filtro float-left my-5">
        <label class="titulo">Fecha</label>
        <select class="form-control">
            <option>Fecha de publicación</option>
        </select>
    
        <label class="titulo">Ubicación</label>
        <select class="form-control">
            <option>Ciudad</option>
        </select>
    
        <label class="titulo">Cetegoria del proyecto</label>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Todas las categorias</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Programador web</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Diseño grafico</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Arquitectura</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Multimedia</label>
        </div>
    
        <label class="titulo">Precio por hora</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">MIN</span>
            </div>
            <input type="text" aria-label="First name" class="form-control">
            <div class="input-group-prepend">
                <span class="input-group-text">MAX</span>
            </div>
            <input type="text" aria-label="First name" class="form-control">
        </div>
    </div>
    <div class="media float-left" style="width:60%" *ngFor = "let proyecto of proyectos; let indice = index;">
        <div class="media-body">
            <div class="estados float-right">
                <p>Publicado hace un momento</p>
                <p>Plazo: {{proyecto.plazo}}</p>
                <p>Ubicación: {{proyecto.ubicacion}}</p>
                <p>Dueño: {{proyecto.propietario}}</p>
                <p>Valor por hora : <span style="color:green">${{proyecto.precio}}</span></p>
            </div>
            <h5 class="mt-0">{{proyecto.nombre}}</h5>
            <p style="width:65%">
                {{proyecto.descripcion}}
            </p>
            <div class="categorias" style = "display:inline-flex" *ngFor = "let i of vector[indice]">
                <li >{{i}}</li>
            </div>
            <div>

                
                <input type="button" class="btn btn-dark my-3" value="Enviar propuesta">
            </div>
        </div>

        
    </div>

</div>